<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Single student record </title>
</head>
<body>
 <a th:href="@{'/'}">Home</a>
  <a th:href="@{'/student_login'}">List all students</a>
  <h2 align="center">Individual Student Record</h2></br></bre>
<div id="div1" align="center">
			 <table class="table table-bordered table-sm mt-2" border="1" cellpadding="10">
    <thead>
      <tr>
        <th>Student id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Course</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="l : ${studentlist}" th:field="${l}">
        <td th:text="${l.id}"></td>
        <td th:text="${l.name}"></td>
        <td th:text="${l.email}"></td>
        <td th:text="${l.course}"></td>
      </tr>
    </tbody>
  </table>
			
			
</div>
</body>
</html>


			
